<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>500 - Internal Server Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" type="text/css" media="screen" href="main.css" />-->
    <!--Estilo-->
    <LINK href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <%- include ../topbar.ejs -%>
    <div class="textDiv errorDiv">
        <h2>
            <span id="titulo">Error 500</span>
        </h2>
        <p> 
            <span class="errorCode">500</span>
            - Se ha producido un error interno en el servidor al procesar la petición.
        </p>
    </div>
</body>
</html>