<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Acerca de</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" type="text/css" media="screen" href="main.css" />-->
    <!--Estilo-->
    <LINK href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <%- include topbar.ejs -%>
    <div class="textDiv">
        <h2>
            <span id="titulo">Acerca de</span>
        </h2>
        <p> 
            <p><span class="errorCode">Esqueleto</span>
            es una aplicación para comparar las respuestas 
            de dos equipos diferentes a una misma petición <b>POST</b>.
            </p>
            <br>
            <p>Desarrollado por <b>Pablo Peña</b></p>
            <p>Código base (esqueleto) proporcionado por <b>Joaquín Álvarez Horcajo</b></p>
        </p>
    </div>
</body>
</html>