<!DOCTYPE html>
<html>
<head>
    <title>
        ExpressApp
    </title>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>-->
    <script src="/js/jquery.js"></script>
    <script src="/js/angular.js"></script>
    <script src="/js/angular/mainApp.js"></script>
    <script src="/js/angular/mainController.js"></script>
    <!--Estilo-->
    <LINK href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h2>AngularJS Main Menu</h2>
    <div ng-app="MainApp" ng-controller="MainCtrl">
        <div id="menuWrapper">
        <ul id="menu" ng-repeat="entry in entries track by entry['id']">    
            <li class="myMenuEntry" id="defaultEntry"> 
                <span>Adress : </span>
                <input type="text" ng-model="entries[$index].url"/>
                <input type="button" value="Send" ng-click="enviarPeticion(entries[$index].url)"/>
                <span>Address : {{entries[$index].url}}</span>
                <span>ID : {{entries[$index].id}}</span>
                <input type="button" value="Delete" ng-click="deleteEntry(entries[$index].id)"/>
                <input type="button" value="Parse" ng-click="checkURL(entries[$index].url)"/>
            </li>
        </ul>
        </div>
        <div class="datosDebug">
            <input type="button" value="Add" ng-click="addEntry()" />
            <p></p>
            <p>Output Message : {{msg}}</p>
            <p>StatusCode: {{statusval}}</p>
            <p>Status: {{statustext}}</p>
            <p>Response Headers: {{headers}}</p>
            <p>RESPUESTA: {{resData}}</p>
            <p>Parsed URL: {{parsedURL}}</p>
        </div>
    </div>
    <script>
        function getLocation(href) {
            var match = href.match(/^((https?\:)\/\/)?(([^:\/?#]*)(?:\:([0-9]+))?)([\/]{0,1}[^?#]*)(\?[^#]*|)(#.*|)$/);
            return match && {
                href: href,
                protocol: match[2],
                host: match[3],
                hostname: match[4],
                port: match[5],
                pathname: match[6],
                search: match[7],
                hash: match[8]
                //Los relevantes en mi caso
                //son hostname, port y pathname
                //hostname + port = host
                //host + pathname = miUrl
            }
    }
    </script>
</body>
</html>