<!DOCTYPE html>
<html>
<head>
    <title>
        Esqueleto
    </title>
    <!--JQUERY-->
    <script src="/js/3rdparty/jquery.js"></script>
    <!--ANGULARJS-->
    <script src="/js/3rdparty/angular-1.7.js"></script>
    <!--Gráficas-->
    <script src="/js/3rdparty/plotly.js"></script>
    <!--Aplicacion-->
    <script src="/js/angular/mainApp.js"></script>
    <!--Controlador principal-->
    <script src="/js/angular/mainController.js"></script>
    <!--Servicios-->
    <script src="/js/angular/entriesService.js"></script>
    <script src="/js/angular/urlFactory.js"></script>
    <script src="/js/angular/debugService.js"></script>
    <script src="/js/angular/requestFactory.js"></script>
    <script src="/js/angular/graphService.js"></script>
    <script src="/js/angular/resizeDirective.js"></script>
    <!--<script src="/js/crearGrafica.js"></script>-->
    <!--Estilo-->
    <LINK href="/css/style.css" rel="stylesheet" type="text/css">
    <!--JQUERY-UI-->
    <script src="/js/3rdparty/jquery-ui.js"></script>
    <link href="/css/jquery-ui.css" rel="stylesheet" type= "text/css">
    <!--Carga script que configura el Dialog.
    La id del elemento debe ser 'miDialogo'.
    En caso de ser otra modificar el script dialogService.js-->
	<script src="/js/angular/dialogService.js"></script>
    <!--__-->
</head>
<body>
    <h2>Esqueleto - Main Menu</h2>
    <div ng-app="MainApp" ng-controller="MainCtrl" custom-resize-directive>
        <p ng-show="showDebug">ANCHURA {{width}}</p>
        <div id="tempWrapper">
            <div id="menuWrapper">
            <ul id="menu" ng-repeat="entry in entriesService.entries track by entry['id']">    
                <li class="myMenuEntry" id="defaultEntry"> 
                    <span>Adress : </span>
                    <input type="text" ng-model="entriesService.entries[$index].url"
                    <!--ng-blur="requestService.enviarPeticion(entriesService.entries[$index].id,
                        entriesService.entries[$index].url)"-->
                    >
                    <input type="button" value="Send" 
                        ng-click="requestService.enviarPeticion(entriesService.entries[$index].id,
                        entriesService.entries[$index].url)"/>
                    <div ng-show="showDebug">
                        <p>Address : {{entriesService.entries[$index].url}}</p>
                        <p>ID : {{entriesService.entries[$index].id}}</p>
                        <p>Local Resp: {{entriesService.entries[$index].localResponse}}</p>
                        <p>Remote Resp: {{entriesService.entries[$index].remoteResponse}}</p>
                        <p>Coinciden?: {{entriesService.entries[$index].areRespEqual}}</p>
                    </div>
                    <input type="button" value="Delete" 
                        ng-click="entriesService.deleteEntry(entriesService.entries[$index].id)"/>
                    <input type="button" value="Parse" 
                        ng-click="debugURL(entriesService.entries[$index].url)"
                        ng-show="showDebug"/>
                    <input type="button" value="Graph" 
                        ng-click="printGraph(entriesService.entries[$index].id)"/>
                        <!--ng-click="graphService.dibujarGraficaRespuestas(entriesService.entries[$index].id)"-->
                </li>
            </ul>
            </div>
            <div>
                <input type="button" value="Add" ng-click="entriesService.addEntry()" />
                <div class="datosDebug" ng-show="showDebug">
                    <p>Output Message : {{debugService.msg}}</p>
                    <p>StatusCode: {{debugService.statusval}}</p>
                    <p>Status: {{debugService.statustext}}</p>
                    <p>Response Headers: {{debugService.headers}}</p>
                    <p>RESPUESTA: {{debugService.resData}}</p>
                    <p>Parsed URL: {{debuggedURL}}</p>
                    <p>entriesService.entries: {{entriesService.entries}}</p>
                </div>
                <input type="button" value="DEBUG" ng-click="switchDebug()" />
            </div>
        </div>
        <!--DIALGO GRAFO-->
        <div id="miDialogo">
            <div id="compGraph" class="graphDiv">
            </div>
            <div id="diffGraph" class="graphDiv">
            </div>
        </div>
    </div>
</body>
</html>