<!DOCTYPE html>
<html>
<head>
    <title>
        Esqueleto
    </title>
    <!--JQUERY-->
    <script src="/js/3rdparty/jquery.js"></script>
    <!--ANGULARJS-->
    <script src="/js/3rdparty/angular-1.7.js"></script>
    <!--Gráficas-->
    <script src="/js/3rdparty/plotly.js"></script>
    <!--Aplicacion-->
    <script src="/js/angular/mainApp.js"></script>
    <!--Controlador principal-->
    <script src="/js/angular/mainController.js"></script>
    <!--Servicios-->
    <script src="/js/angular/entriesService.js"></script>
    <script src="/js/angular/urlFactory.js"></script>
    <script src="/js/angular/debugService.js"></script>
    <script src="/js/angular/requestFactory.js"></script>
    <script src="/js/angular/graphFactory.js"></script>
    <script src="/js/angular/resizeDirective.js"></script>
    <script src="/js/angular/requestParamFactory.js"></script>
    <!--<script src="/js/crearGrafica.js"></script>-->
    <!--Estilo-->
    <LINK href="/css/style.css" rel="stylesheet" type="text/css">
    <!--JQUERY-UI-->
    <script src="/js/3rdparty/jquery-ui.js"></script>
    <link href="/css/jquery-ui.css" rel="stylesheet" type= "text/css">
    <!--Carga script que configura el Dialog.
    La id del elemento debe ser 'miDialogo'.
    En caso de ser otra modificar el script dialogService.js-->
	<script src="/js/angular/dialogFactory.js"></script>
    <!--__-->
</head>
<body>
    <!--<div id="topbar">
    <h2>
        <img id="logo" src="/image/Esqueleto.png">
        <span id="titulo">Esqueleto</span>
    </h2>
    </div>-->
    <%- include topbar.ejs -%>
    <div ng-app="MainApp" ng-controller="MainCtrl" custom-resize-directive>
        <p ng-show="showDebug">ANCHURA {{width}}</p>
        <div id="tempWrapper">
            <div id="menuWrapper">
            <ul id="menu" ng-repeat="entry in entriesService.entries track by entry['id']">    
                <li class="myMenuEntry" id="defaultEntry">
                    <!--Muestra el índice de la entrada. Parseamos ID para mostrarlo.-->
                    <span id="indiceEntrada">
                        {{entriesService.entries[$index].id.split("-")[1]+"."}}
                    </span>
                    <!--Direccion a la que enviar las peticiones.-->
                    <span>Adress : </span>
                    <input type="text" ng-model="entriesService.entries[$index].url">
                        <!--Para enviar peticiones cuando input text pierda focus.-->
                        <!--ng-blur="requestService.enviarPeticion(entriesService.entries[$index].id,
                            entriesService.entries[$index].url)"-->
                    >
                    <!---->
                    <span>Período:</span>
                    <select 
                        ng-model="entriesService.entries[$index].periodo"
                        ng-init= "entriesService.entries[$index].periodo = requestParamService.listaPeriodos[0].valor"
                        ng-options="periodo.valor as periodo.nombre for periodo in requestParamService.listaPeriodos">
                    </select>
                    <span>Operación:</span>
                    <select 
                        ng-model="entriesService.entries[$index].operacion"
                        ng-init= "entriesService.entries[$index].operacion = requestParamService.listaOps[0].valor"
                        ng-options="operacion.valor as operacion.nombre for operacion in requestParamService.listaOps">
                    </select>
                    <span>Campo:</span>
                    <select 
                        ng-model="entriesService.entries[$index].campo"
                        ng-init= "entriesService.entries[$index].campo = requestParamService.listaCampos[0].valor"
                        ng-options="campo.valor as campo.nombre for campo in requestParamService.listaCampos">
                    </select>
                    <!---->
                    <!--Imagenes para mostrar si las respuestas coinciden.-->
                    <img class="imgMark" 
                        src="/image/bolaverde.png" 
                        ng-show="entriesService.entries[$index].areRespEqual">
                    <img class="imgMark" 
                        src="/image/bolaroja.png" 
                        ng-hide="entriesService.entries[$index].areRespEqual">
                    <!--Botón para enviar las peticiones-->
                    <input type="button" value="Send" 
                        ng-click="requestService.enviarPeticion(entriesService.entries[$index].id,
                        entriesService.entries[$index].url)"/>
                    <!--Datos de debug de la entrada.-->
                    <div ng-show="showDebug">
                        <p>Address : {{entriesService.entries[$index].url}}</p>
                        <p>ID : {{entriesService.entries[$index].id}}</p>
                        <p>Local Resp: {{entriesService.entries[$index].localResponse}}</p>
                        <p>Remote Resp: {{entriesService.entries[$index].remoteResponse}}</p>
                        <p>Coinciden?: {{entriesService.entries[$index].areRespEqual}}</p>
                    </div>
                    <!--Botón para borrar la entrada.-->
                    <input type="button" value="Delete" 
                        ng-click="entriesService.deleteEntry(entriesService.entries[$index].id)"/>
                    <!--Botón para parsear la url de la entrada y mostrarla en debug-->
                    <input type="button" value="Parse" 
                        ng-click="debugURL(entriesService.entries[$index].url)"
                        ng-show="showDebug"/>
                    <!--Botón para crear gráficas con las respuestas.-->
                    <input type="button" value="Graph" 
                        ng-click="printGraph(entriesService.entries[$index].id)"/>
                        <!--ng-click="graphService.dibujarGraficaRespuestas(entriesService.entries[$index].id)"-->
                </li>
            </ul>
            </div>
            <div>
                <!--Botón para añadir entrada-->
                <input type="button" value="Add" ng-click="entriesService.addEntry()" />
                <!--Botón para resetear datos en la base de datos.-->
                <input type="button" value="RESET" ng-click="requestService.postDataReset()"/>
                <!--Botón para alternar entre modo debug y modo normal.-->
                <input type="button" value="DEBUG" ng-click="switchDebug()" />  
                <!--Datos de debug-->
                <div class="datosDebug" ng-show="showDebug">
                    <p>Output Message : {{debugService.msg}}</p>
                    <p>StatusCode: {{debugService.statusval}}</p>
                    <p>Status: {{debugService.statustext}}</p>
                    <p>Response Headers: {{debugService.headers}}</p>
                    <p>RESPUESTA: {{debugService.resData}}</p>
                    <p>Parsed URL: {{debuggedURL}}</p>
                    <p>entriesService.entries: {{entriesService.entries}}</p>
                    <p>Estado Reset: {{debugService.resetStatus}}</p>
                    <p>-----</p>
                    <p>Parametros: {{requestParamService}}</p>

                    <select 
                        ng-model="periodoElegido"
                        ng-init= "periodoElegido = requestParamService.listaPeriodos[0]"
                        ng-options="periodo.nombre for periodo in requestParamService.listaPeriodos">
                    </select>
                    <p>Name: {{periodoElegido.nombre}}</p>
                    <p>Value: {{periodoElegido.valor}}</p>

                    <select 
                        ng-model="opElegido"
                        ng-init= "opElegido = requestParamService.listaOps[0]"
                        ng-options="op.nombre for op in requestParamService.listaOps">
                    </select>
                    <p>Name: {{opElegido.nombre}}</p>
                    <p>Value: {{opElegido.valor}}</p>

                    <select 
                        ng-model="campoElegido"
                        ng-init= "campoElegido = requestParamService.listaCampos[0]"
                        ng-options="campo.nombre for campo in requestParamService.listaCampos">
                    </select>
                    <p>Name: {{campoElegido.nombre}}</p>
                    <p>Value: {{campoElegido.valor}}</p>

                </div>
                
            </div>
        </div>
        <!--DIALOGO GRAFO-->
        <!--Este div se empleará para crear el dialog.-->
        <div id="miDialogo">
            <!--Divs en los que se crearán las gráficas.-->
            <div id="compGraph" class="graphDiv">
            </div>
            <div id="diffGraph" class="graphDiv">
            </div>
        </div>
        <!--DIALOGO RESET-->
        <div id="resetDialogo">
            <div id="textoDialogo">
                Lorem ipsum
            </div>
        </div>
    </div>
</body>
</html>