<div id="topbar">
    <img id="logo" src="/image/Esqueleto.png">
    <a id="titulo" href="/">Esqueleto</a>

    <div id="topLinks">
        <a href="/help">Ayuda</a>
        <a href="/about">Acerca de</a>
    </div>
</div>