/*
Muted Tones Theme:
    Pale Gold: #C0B283
    Silk: #DCD0C0
    Paper: #F4F4F4
    Charcoal: #373737
*/

/*GENERAL*/
body {
    /*Fondo*/
    background-color: #F4F4F4;
    /*Texto*/
    color: #373737;
    /*Margen*/
    margin: 0;
    /*Fuente*/
    font-family: Verdana, Geneva, sans-serif;
    /*Tamaño fuente*/
    font-size: 16px;
}

/*BARRA SUPERIOR*/
#logo
{
    width:40px;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 10px;
    float: left;
}

#topbar
{
    background-color: #DCD0C0;
    overflow: hidden;
    /*display: block;*/
    text-align: center;
}

#topbar #titulo
{
    color: #C0B283;
    font-size: 38px;
    font-weight: bold;
    text-decoration: none;
    /*Contorno*/
    text-shadow:
    -1px -1px 0 #373737,
    1px -1px 0 #373737,
    -1px 1px 0 #373737,
    1px 1px 0 #373737;
    display: inline-block;
    margin-top: 5px;
    /*width: 0px;*/
    width: auto;

}

#topbar #topLinks{
    float: right;
}

#topbar #topLinks a{
    color: #F4F4F4;
    text-align: right;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    padding: 22px 12px;
    /*border: solid 1px;*/
    font-weight: bold;
}

#topbar #topLinks a:hover{
    color: #C0B283;;
    background-color: #F4F4F4
}

/*---------------------*/

/*MENU PRINCIPAL*/
#menuWrapper li{
    list-style: none;
}
/*
#menuWrapper {
    -moz-column-count: 2; 
    -webkit-column-count: 2; 
    column-count: 2;

}  

#menuWrapper ul {
    -webkit-column-break-inside: avoid;
    -webkit-column-break-after: always;
}
*/

#menuWrapper{
    text-align: center;
}
.myMenuEntry {
    border: 3px solid #C0B283;
    border-radius: 5px;
    display: block;
    margin: 0 5%;
    /*text-align: justify;*/
    word-wrap:break-word;
}
.myMenuEntry *{
    
    margin: 10px;
}

/*Imagenes de los circulos*/
.imgMark
{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

/* Numeracion de las entradas*/
#indiceEntrada
{
    float:left;
    vertical-align: middle;
    font-size: 20px;
}
    /* BOTONES */
    input[type=button] {
        /*color letra*/
        color: #373737;
        /*Borde*/
        border:5px solid #DCD0C0;
        /*Color fondo*/
        background-color: #DCD0C0;
        /*Redondeo boton*/
        border-radius:8px;
        /*Duracion transicion del efecto*/
        transition-duration: 0.2s;
        /*Cambia el cursor cuando lo ponemos encima*/
        cursor: pointer;
        /*padding. Espacio desde texto hasta bordes*/
        padding: 5px 5px;
        /*Espacio entre botones*/
        margin: 5px 5px;
        /*Anchura fija*/
        display: inline-block;
        width: 120px;
    /*height: 50px;*/
    }

    .smallButton
    {
        height: 40px;
        /*!important para forzar override*/
        width: 40px !important;
        padding: 0px 0px;
        margin: 0px 0px;
        border: 0px !important;
        color: #DCD0C0 !important;
        background-color: #373737 !important;
    }

    input[type=button]:hover {
        /*color letra*/
        color: #DCD0C0;
        /*Borde*/
        border:5px solid #373737;
        /*Color fondo*/
        background-color: #373737;
        
    }

    /* CAJAS TEXTO*/
    input[type=text] {
        /*color letra*/
        color: #F4F4F4;
        /*Borde*/
        border:5px solid #DCD0C0;
        /*Color fondo*/
        background-color: #373737;
        /*Redondeo boton*/
        border-radius:8px;
        /*padding. Espacio desde texto hasta bordes*/
        padding: 5px 5px;
        /*Espacio entre botones*/
        margin: 5px 5px;
        width: auto;
    /*height: 50px;*/
    }

    /*SELECTs*/
    select{
        margin: 50px;
        /*width: 150px;*/
        width: auto;
        padding: 5px 35px 5px 5px;
        border:5px solid #DCD0C0;
        border-radius:8px;
        /*No mostrar flecha*/
        -moz-appearance: none;
        appearance: none;
        /*Color de fondo y flecha personalizada*/
        background: url(/image/flecha2.png) 96% / 20px no-repeat #373737;
        /*color letra*/
        color: #F4F4F4;
    }

/* DIALOGS */

.ui-dialog-buttonpane {
	display: flex;
	align-items: center;
	justify-content: center;
	float: center;
}

#dialogOkBoton
{
/*
	height: 40px;
	margin: 0 auto;
	display: block;
	width: 150px;
*/
	color: #F4F4F4;
	background-color: #C0B283;
}

#dialogOkBoton:hover
{
	background-color: #DCD0C0;
}

#textoDialogo
{
    text-align: center;
}

/*
*
*Estilo para las páginas de errores (404, 500...) y ayuda
*
*/

.textDiv{
    border: 3px solid #C0B283;
    border-radius: 5px;
    display: block;
    margin: 10px 5%;
    padding: 0 20px;
}

.errorDiv{
    text-align: center;
}

.text
{
    padding: 0 10;
}

.errorCode
{
    font-weight: bold;
}

.textDiv #titulo
{
    text-align: center;
}

.code{
    font-family: monospace;
}