<!DOCTYPE html>
<html ng-app="App">

<head lang="en">
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
</head>

<body ng-controller="Test">
  <fieldset id="fields-list">
    <div class="pure-g entry" ng-repeat="input in inputs track by input['id']">
      <div class="pure-u-1-5">
        <input type="text" class="pure-input-1" id="input" name="input-1">
      </div>
      <div class="pure-u-1-5">
        <input type="text" class="pure-input-1" id="date" name="date">
    </div>
    <div class="pure-u-1-5">
        <input type="text" class="pure-input-1" id="input-2" name="input-2">
    </div>
    </div>
  </fieldset>
  <button type="button" id="add" ng-click="add()">Add</button>
  <script>
        var App = angular.module('App', []).controller('Test', ['$scope',
        function($scope) {

            $scope.inputCounter = 0;
            $scope.inputs = [{
            id: 'input'
            }];
            $scope.add = function() {
            $scope.inputTemplate = {
                id: 'input-' + $scope.inputCounter,
                name: ''
            };
            $scope.inputCounter += 1;
            $scope.inputs.push($scope.inputTemplate);
            };

        }]);
    </script>
</body>

</html>